src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/partneridentifikator/v0/PartneridentifikatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartneridentifikatorService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneridentifikator:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneridentifikator:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneridentifikator:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneridentifikator:v0:schema" schemaLocation="schema/PartneridentifikatorService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPartneridentifikatorRequestMessage">
        <wsdl:part name="Request" element="pa:getPartneridentifikatorRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartneridentifikatorResponseMessage">
        <wsdl:part name="Response" element="pa:getPartneridentifikatorResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchOnlineIdRequestMessage">
        <wsdl:part name="Request" element="pa:searchOnlineIdRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchOnlineIdResponseMessage">
        <wsdl:part name="Response" element="pa:searchOnlineIdResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartneridentifikatorServicePortType">
        <wsdl:operation name="getPartneridentifikator">
            <wsdl:documentation>Liefert für einen technischen Partneridentifikatorschlüssel die Stammdaten des zugehörigen Partneridentifikators.</wsdl:documentation>
            <wsdl:input name="GetPartneridentifikatorRequest" message="tns:GetPartneridentifikatorRequestMessage"/>
            <wsdl:output name="GetPartneridentifikatorResponse" message="tns:GetPartneridentifikatorResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="searchOnlineId">
            <wsdl:documentation>Sucht anhand des Wertes einen konkreten Online-ID-Partneridentifikator.</wsdl:documentation>
            <wsdl:input name="SearchOnlineIdRequest" message="tns:SearchOnlineIdRequestMessage"/>
            <wsdl:output name="SearchOnlineIdResponse" message="tns:SearchOnlineIdResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartneridentifikatorServiceBinding" type="tns:PartneridentifikatorServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPartneridentifikator">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartneridentifikatorRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartneridentifikatorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchOnlineId">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="SearchOnlineIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchOnlineIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartneridentifikatorService_v0">
        <wsdl:port name="PartneridentifikatorService" binding="tns:PartneridentifikatorServiceBinding">
            <soap:address location="https://example.com/PartneridentifikatorService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
