src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/webdef/v0/schema/WebDefService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:webdef:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:webdef:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:element name="getWebDefRequest" type="tns:GetWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Web-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getWebDefResponse" type="tns:GetWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Web-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllWebDefRequest" type="tns:GetAllWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAllWebDefResponse" type="tns:GetAllWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Web-Definition enthält.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesWebDefRequest" type="tns:ReadAllL10nAttributesWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readAllL10nAttributesWebDefResponse" type="tns:ReadAllL10nAttributesWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Web-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesWebDefRequest" type="tns:ReadL10nAttributesWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="readL10nAttributesWebDefResponse" type="tns:ReadL10nAttributesWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Web-Definition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Web-Definitionen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="webDefId" type="pi:WsWebDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Web-Definitionen enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="webDef" type="tns:WsWebDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Web-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request um alle Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAllWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, der die geladenen Web-Definition enthält.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="webDef" type="tns:WsWebDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Web-Definitionen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen aller Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadAllL10nAttributesWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen aller Web-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesWebDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesWebDefRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um die lokalisierten Informationen einer Web-Definition zu laden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="webDefId" type="pi:WsWebDefIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="locale" type="xsd:language" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Local mit welcher die korrekte Sprache ermittelt wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReadL10nAttributesWebDefResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response mit den lokalisierten Informationen der Web-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="localizedAttrs" type="tns:WsL10nAttributesWebDefType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Übersetzter Text einer Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsL10nAttributesWebDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Lokalisierte Informationen der Web-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="webDefId" type="pi:WsWebDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bezeichnung" type="ct:WsLocalizedTextType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Lokalisierte Bezeichnung der Web-Definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsWebDefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Web-Definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsWebDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Web-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mehrfachverwendung" type="pc:WsMehrfachverwendungCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob es von dieser Definition mehrere Objekte geben darf.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="definitionsname" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel dieser Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sequenz" type="st:IntegerType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Sortierungssequenz der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
