src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/oezuteilung/v0/OeZuteilungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="OeZuteilungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0:schema" schemaLocation="schema/OeZuteilungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPartnerGbereichArtOeZuteilungRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerGbereichArtOeZuteilungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerGbereichArtOeZuteilungResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerGbereichArtOeZuteilungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerGbereichOeZuteilungRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerGbereichOeZuteilungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerGbereichOeZuteilungResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerGbereichOeZuteilungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerOeZuteilungRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerOeZuteilungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerOeZuteilungResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerOeZuteilungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="OeZuteilungServicePortType">
        <wsdl:operation name="getPartnerGbereichArtOeZuteilung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel, einen Geschäftsbereich und die Organisationseinheitsart die Daten der zugehörigen OeZuteilung.</wsdl:documentation>
            <wsdl:input name="GetPartnerGbereichArtOeZuteilungRequest" message="tns:GetPartnerGbereichArtOeZuteilungRequestMessage"/>
            <wsdl:output name="GetPartnerGbereichArtOeZuteilungResponse" message="tns:GetPartnerGbereichArtOeZuteilungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerGbereichOeZuteilung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel und einen Geschäftsbereich für alle Organisationseinheitsart die Daten der zugehörigen OeZuteilung.</wsdl:documentation>
            <wsdl:input name="GetPartnerGbereichOeZuteilungRequest" message="tns:GetPartnerGbereichOeZuteilungRequestMessage"/>
            <wsdl:output name="GetPartnerGbereichOeZuteilungResponse" message="tns:GetPartnerGbereichOeZuteilungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerOeZuteilung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die OeZuteilung für alle Geschäftsbereiche und Organisationseinheitsart.</wsdl:documentation>
            <wsdl:input name="GetPartnerOeZuteilungRequest" message="tns:GetPartnerOeZuteilungRequestMessage"/>
            <wsdl:output name="GetPartnerOeZuteilungResponse" message="tns:GetPartnerOeZuteilungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OeZuteilungServiceBinding" type="tns:OeZuteilungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPartnerGbereichArtOeZuteilung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerGbereichArtOeZuteilungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerGbereichArtOeZuteilungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerGbereichOeZuteilung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerGbereichOeZuteilungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerGbereichOeZuteilungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerOeZuteilung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerOeZuteilungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerOeZuteilungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OeZuteilungService_v0">
        <wsdl:port name="OeZuteilungService" binding="tns:OeZuteilungServiceBinding">
            <soap:address location="https://example.com/OeZuteilungService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
