src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/dokumentversand/v0/schema/DokumentversandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0:schema" 
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:element name="getDokumentversandRequest" type="tns:GetDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Dokumentversand Objekte geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getDokumentversandResponse" type="tns:GetDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Dokumentversand Objekte enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerDokumentversandRequest" type="tns:GetPartnerDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerDokumentversandResponse" type="tns:GetPartnerDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerStdDokumentversandRequest" type="tns:GetPartnerStdDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Standard-Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerStdDokumentversandResponse" type="tns:GetPartnerStdDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Standard-Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerAusgDokumentversandRequest" type="tns:GetPartnerAusgDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die ausgehenden Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerAusgDokumentversandResponse" type="tns:GetPartnerAusgDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen ausgehenden Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerEingDokumentversandRequest" type="tns:GetPartnerEingDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die eingehenden Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerEingDokumentversandResponse" type="tns:GetPartnerEingDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen eingehenden Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Dokumentversand Objekte geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentversandId" type="pi:WsDokumentversandIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Dokumentversands.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Dokumentversand Objekte enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="dokumentversand" type="tns:WsStdDokumentversandType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den geladenen Dokumentversand Objekten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Dokumentversand Objekte geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerDokumentversand" type="tns:WsPartnerDokumentversandType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen Dokumentversand Objekte eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerStdDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Standard-Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Standard-Dokumentversand Objekte geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerStdDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Standard-Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerDokumentversand" type="tns:WsPartnerDokumentversandType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen Standard-Dokumentversand Objekte eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerAusgDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die ausgehenden Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die ausgehenden Dokumentversand Objekte geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerAusgDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen, ausgehenden Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerDokumentversand" type="tns:WsPartnerAusgDokumentversandType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen, ausgehenden Dokumentversand Objekte eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerEingDokumentversandRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die eingehenden Dokumentversand Objekte von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die eingehenden Dokumentversand Objekte geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerEingDokumentversandResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen, eingehenden Dokumentversand Objekte der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerDokumentversand" type="tns:WsPartnerEingDokumentversandType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen, eingehenden Dokumentversand Objekte eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerDokumentversandType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen Dokumentversand Objekte eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Dokumentversand Objekte geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentversand" type="tns:WsStdDokumentversandType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden Standard-Dokumentversand Objekten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerAusgDokumentversandType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen, ausgehenden Dokumentversand Objekte eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Dokumentversand Objekte geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentversand" type="tns:WsAusgDokumentversandType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den ausgehenden Dokumentversand Objekten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerEingDokumentversandType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen, eingehenden Dokumentversand Objekte eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die Dokumentversand Objekte geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dokumentversand" type="tns:WsEingDokumentversandType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den eingehenden Dokumentversand Objekten.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsStdDokumentversandType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines Standard-Dokumentversands.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsDokumentversandIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Dokumentversands.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="dokumenttypId" type="pi:WsDokumenttypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Dokumenttyp des Dokumentversands.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aussteuernAnBenutzerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Sachbearbeiter, an den das Dokument übergeben wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aussteuernAnOeId" type="pi:WsOrganisationseinheitIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Organisationseinheit, an die das Dokument übergeben wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="empfaengerAdresseId" type="pi:WsAdresseIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adresse der Person, an die das Dokument umgeleitet wird.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="falldossierId" type="pi:WsFalldossierIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Falldossier, für das diese Definition ausschliesslich gilt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vertragId" type="pi:WsVertragIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vertrag, für den diese Definition ausschliesslich gilt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:choice>
                        <xsd:element name="zustellAdresseId" type="pi:WsAdresseIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Adresse, an die das Dokument versendet wird.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellEmailId" type="pi:WsEmailIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Email, an die das Dokument versendet wird.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellTelefonId" type="pi:WsTelefonIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Telefon, an die das Dokument versendet wird.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="zustellWebId" type="pi:WsWebIdType" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="de">Web, an die das Dokument versendet wird.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAusgDokumentversandType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten eines ausgehenden Dokumentversands.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsStdDokumentversandType">
                <xsd:sequence>
                    <xsd:element name="empfaengerPartnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Partner, an den die Dokumente umgeleitet werden.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEingDokumentversandType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer eingehenden Dokumentversands.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsStdDokumentversandType">
                <xsd:sequence>
                    <xsd:element name="absenderPartnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Partner, dessen Dokumente umgeleitet werden.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
