src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/partneraenderung/v0/PartnerAenderungService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerAenderungService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partneraenderung:v0:schema" schemaLocation="schema/PartnerAenderungService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetNatPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetNatPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerNatPersonAenderungRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerNatPersonAenderungRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerNatPersonAenderungResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerNatPersonAenderungResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerAenderungServicePortType">
        <wsdl:operation name="getNatPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partneränderungschlüssel die Daten der zugehörigen NatPersonänderung.</wsdl:documentation>
            <wsdl:input name="GetNatPersonAenderungRequest" message="tns:GetNatPersonAenderungRequestMessage"/>
            <wsdl:output name="GetNatPersonAenderungResponse" message="tns:GetNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerNatPersonAenderung">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller dazugehörenden offenen NatPersonänderungen.</wsdl:documentation>
            <wsdl:input name="GetPartnerNatPersonAenderungRequest" message="tns:GetPartnerNatPersonAenderungRequestMessage"/>
            <wsdl:output name="GetPartnerNatPersonAenderungResponse" message="tns:GetPartnerNatPersonAenderungResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerAenderungServiceBinding" type="tns:PartnerAenderungServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerNatPersonAenderung">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerNatPersonAenderungRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerNatPersonAenderungResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerAenderungService_v0">
        <wsdl:port name="PartnerAenderungService" binding="tns:PartnerAenderungServiceBinding">
            <soap:address location="https://example.com/PartnerAenderungService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
