src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/process/adresseaenderung/v0/schema/AdresseAenderungProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:adresseaenderung:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:element name="adresseAenderungResponse" type="tns:AdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="adresseAenderungRequest" type="tns:AdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdresseAenderungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, um eine Adresseänderung zu erstellen.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderung" type="tns:WsAdresseAenderungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Daten der Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdresseAenderungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response der Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseAenderungId" type="pi:WsAdresseAenderungIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id der erstellen Adresseänderung.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseAenderungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer Adresseänderung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsDataObjectType">
                <xsd:sequence>
                    <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Domizil- oder Zusatzadresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aenderungAb" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt ab wann die Adressänderung gültig ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bemerkungen" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bemerkung zu einer Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hausId" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Hausnummer in den Adressstammdaten.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hausNrZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatz der Hausnummer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hausnummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Hausnummer der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="land" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Land der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ort" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ort der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="plz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Postleitzahl der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="plzId" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Postleitzahl inkl. Zusatz in den Adressstammdaten.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="plzZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatz der Postleitzahl der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postfach" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Postfach der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postfachOhneNr" type="pc:WsPostfachOhneNrCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz1VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz1 welcher vor der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz2VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz2 welcher vor der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz3VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz3 welcher vor der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz4VorStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz4 welcher vor der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="strasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strasse der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="strasseId" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Fachlicher Schlüssel auf die Strasse in den Adressstammdaten.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz1NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz1 welcher nach der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz2NachStr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Adressezusatz2 welcher nach der Strasse steht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="strasseNrReihenfolge" type="pc:WsStrasseNrReihenfolgeCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Definiert, ob die Strasse vor der Nummer angezeigt werden soll oder umgekehrt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gemeindenummer" type="st:IntegerType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gemeindenummer der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="1" maxOccurs="1">
                    	<xsd:annotation>
                            <xsd:documentation xml:lang="de">Mutationsgrund der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kanton" type="pc:WsKantonCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kanton der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>           
                    <xsd:element name="gemeindeKanton" type="pc:WsGemeindeKantonCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Kanton der Gemeinde.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
