src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/leistungserbringer/v0/schema/LeistungserbringerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0"
            xmlns:search="urn:com:adcubum:syrius:api:common:searchTypes:v1"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:leistungserbringer:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/externalTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v1" schemaLocation="../../../../../../common/types/v1/searchTypes.xsd"/>
    <xsd:element name="getLeistungserbringerRequest" type="tns:GetLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungserbringer geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungserbringerResponse" type="tns:GetLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
     <xsd:element name="searchLeistungserbringerRequest" type="tns:SearchLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Leistungserbringer gesucht werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchLeistungserbringerResponse" type="tns:SearchLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Leistungserbringer enthalten sind (IDs).</xsd:documentation>
    	</xsd:annotation>
    </xsd:element>
    <xsd:element name="getPublicLeistungserbringerRequest" type="tns:GetPublicLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die vereinfachten Leistungserbringer geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPublicLeistungserbringerResponse" type="tns:GetPublicLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen vereinfachten Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungserbringer geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringer" type="tns:WsLeistungserbringerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der geladene Leistungserbringer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
        <xsd:complexType name="GetPublicLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungserbringer geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPublicLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="publicLeistungserbringer" type="tns:WsPublicLeistungserbringerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der geladene öffentliche Leistungserbringer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungserbringerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die allgemeinen Daten zu einem Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aktiv" type="pc:WsAktivCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Status des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="anrede" type="pc:WsLerbAnredeCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Anrede des Leistungserbringers, z.b Dr., Prof., Dr. med., usw..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="austrittsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Austrittsdatum des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="eintrittsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Eintrittsdatum des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entschaedigung" type="pc:WsEntschaedigungCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Entschaedigung des Leistungserbringers, z.B tiers garant, tiers payant, amb TG - stat TP oder Überprüfungsausschluss.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="erfassungsdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Erfassungsdatum des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geburtsjahr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geburtsjahr des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="intBetreuerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des betreuenden Sachbearbeiters.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="leistungspflicht" type="pc:WsLeistungspflichtCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Anrede des Leistungserbringers, z.b Dr., Prof., Dr. med., usw..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lstAbrMoeglich" type="pc:WsLstAbrMoeglichCodeType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Anrede des Leistungserbringers, z.b Dr., Prof., Dr. med., usw..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsdatum" type="st:DateType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Mutationsdatum des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel auf den Mutationsgrund.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name1" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Name des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name2" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Name 2 des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name3" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Name 3 des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerschutzDefId" type="pi:WsPartnerschutzDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel auf die gesetzte Partnerschutzdefinition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rechnungsstellerTypId" type="pi:WsRechnungsstellerTypIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des Rechnungsstellertyps.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rechtsform" type="pc:WsRechtsformCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Rechtsform des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="korrespondenzsprache" type="xt:LanguageTagType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Korrespondenzsprache des Leistungserbringers als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="stilleKoGu" type="pc:WsStilleKoGuCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Hat der Leistungserbringer eine stille Vereinbarung über eine Kostengutsprache.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titel" type="pc:WsTitelCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Titel des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verband" type="pc:WsVerbandCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Verbandscode des Leistungserbringers, z.B SCG, FAMH, Spitex-Verband, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="verbandNr" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Verbandsnummer des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partneridentifikatoren" type="tns:WsPartneridentifikatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Partneridentifikatoren des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPublicLeistungserbringerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die allgemeinen Daten zu einem öffentlichen Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Name des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname des Leistungserbringers.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partneridentifikatoren" type="tns:WsPartneridentifikatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Partneridentifikatoren des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartneridentifikatorType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Partneridentifikator eines Leistungserbringers (ZSR-Nummer, usw.).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsLifecycleObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsPartneridentifikatorIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technische Id des Partneridentifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partneridentifikatorDefId" type="pi:WsPartneridentifikatorDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Definition des Partneridentifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="wert" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Der konkrete Wert, z.B. eine Nummer, des Identifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SearchLeistungserbringerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Leistungserbringer gesucht werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="suchbedingungen" type="search:WsSearchConditionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen für den Suchrequest.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="leistungserbringerIds" type="pi:WsLeistungserbringerIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste von möglichen Leistungserbringern für die Suche.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="rechnungsstellerTypId" type="pi:WsRechnungsstellerTypIdType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">RechnungsstellerTyp des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Name des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kantonCode" type="pc:WsKantonCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Kanton Code der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasse" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Strasse der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausnummer" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Hausnummer der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postleitzahl" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postleitzahl der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ort" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ort der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchLeistungserbringerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringer" type="tns:WsLeistungserbringerSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefundenen Leistungserbringern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungserbringerSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ein gefundener Leistungserbringer (IDs).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
