src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/partnerrolle/v0/PartnerrolleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerrolleService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partnerrolle:v0:schema" schemaLocation="schema/PartnerrolleService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPartnerrolleRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerrolleRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerrolleResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerrolleResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerPartnerrolleRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerPartnerrolleRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerPartnerrolleResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerPartnerrolleResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerrolleServicePortType">
        <wsdl:operation name="getPartnerrolle">
            <wsdl:documentation>Liefert für einen technischen Partnerrollenschlüssel die Daten der zugehörigen Partnerrolle inkl. Param-Attrs.</wsdl:documentation>
            <wsdl:input name="GetPartnerrolleRequest" message="tns:GetPartnerrolleRequestMessage"/>
            <wsdl:output name="GetPartnerrolleResponse" message="tns:GetPartnerrolleResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerPartnerrolle">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden Partnerrollen inkl. Param-Attrs.</wsdl:documentation>
            <wsdl:input name="GetPartnerPartnerrolleRequest" message="tns:GetPartnerPartnerrolleRequestMessage"/>
            <wsdl:output name="GetPartnerPartnerrolleResponse" message="tns:GetPartnerPartnerrolleResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerrolleServiceBinding" type="tns:PartnerrolleServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPartnerrolle">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerrolleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerrolleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerPartnerrolle">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerPartnerrolleRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerPartnerrolleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerrolleService_v0">
        <wsdl:port name="PartnerrolleService" binding="tns:PartnerrolleServiceBinding">
            <soap:address location="https://example.com/PartnerrolleService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
