src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/oezuteilung/v0/schema/OeZuteilungService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:oezuteilung:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:element name="getPartnerGbereichArtOeZuteilungRequest" type="tns:GetPartnerGbereichArtOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die OeZuteilung zu einem Partner, Geschäftsbereich und Organisationseinheitsart geladen wird.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerGbereichArtOeZuteilungResponse" type="tns:GetPartnerGbereichArtOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladene OeZuteilung zu einem Partner, Geschäftsbereich und Organisationseinheitsart enthalten ist.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerGbereichOeZuteilungRequest" type="tns:GetPartnerGbereichOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die OeZuteilung zu einem Partner und Geschäftsbereich geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerGbereichOeZuteilungResponse" type="tns:GetPartnerGbereichOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen OeZuteilung zu einem Partner und Geschäftsbereich enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerOeZuteilungRequest" type="tns:GetPartnerOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem alle OeZuteilungen zu einem Partner geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerOeZuteilungResponse" type="tns:GetPartnerOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen OeZuteilungen des angegebenen Partners enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetPartnerGbereichArtOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die OeZuteilung zu einem Partner, Geschäftsbereich und Organisationseinheitsart geladen wird.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gbereichId" type="pi:WsGbereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Einschränkung auf den Geschäftsbereich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="organisationseinheitArt" type="pt:WsOrganisationseinheitArtType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Einschränkung auf die Art der Organisationseinheit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerGbereichArtOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladene OeZuteilung zu einem Partner, Geschäftsbereich und Organisationseinheitsart enthalten ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="oeZuteilung" type="tns:WsPartnerEinzelOeZuteilungType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält Liste mit geladenen OeZuteilungen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerGbereichOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die OeZuteilung zu einem Partner und Geschäftsbereich geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gbereichId" type="pi:WsGbereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Einschränkung auf den Geschäftsbereich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerGbereichOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen OeZuteilung zu einem Partner und Geschäftsbereich enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerOeZuteilung" type="tns:WsPartnerOeZuteilungType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen OeZuteilungen des Partners und Geschäftsbereich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerOeZuteilungRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem alle OeZuteilungen zu einem Partner geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerOeZuteilungResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen OeZuteilungen des angegebenen Partners enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerGbereichListOeZuteilung" type="tns:WsPartnerGbereichListOeZuteilungType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen OeZuteilung des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerGbereichListOeZuteilungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit OeZuteilungen eines Partners aufgeteilt nach Geschäftsbereich.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerGbereichOeZuteilung" type="tns:WsPartnerGbereichOeZuteilungType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen OeZuteilungen des Partners und Geschäftsbereich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerGbereichOeZuteilungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit OeZuteilungen eines Partners aufgeteilt nach Geschäftsbereich.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="gbereichId" type="pi:WsGbereichIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Geschäftsbereichs.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oeZuteilung" type="tns:WsOeZuteilungType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die Liste mit den geladenen OeZuteilungen des Partners und Geschäftsbereich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerOeZuteilungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit OeZuteilungen eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oeZuteilung" type="tns:WsOeZuteilungType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen OeZuteilungen des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerEinzelOeZuteilungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Liste mit OeZuteilungen eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Id des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oeZuteilung" type="tns:WsOeZuteilungType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die geladene OeZuteilung des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsOeZuteilungType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer OeZuteilung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="gbereichId" type="pi:WsGbereichIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel eines Geschäftsbereichs.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="organisationseinheitArt" type="pt:WsOrganisationseinheitArtType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Art der Organisationseinheit.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="organisationseinheitId" type="pi:WsOrganisationseinheitIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isUebersteuert" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob die OeZuteilung übersteuert ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
