src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/email/v0/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="EmailService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0:schema" schemaLocation="schema/EmailService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetEmailRequestMessage">
        <wsdl:part name="request" element="pa:getEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetEmailResponseMessage">
        <wsdl:part name="response" element="pa:getEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEmailRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEmailResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseEmailRequestMessage">
        <wsdl:part name="request" element="pa:getAdresseEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetAdresseEmailResponseMessage">
        <wsdl:part name="response" element="pa:getAdresseEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerEmailRequestMessage">
        <wsdl:part name="request" element="pa:getLeistungserbringerEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetLeistungserbringerEmailResponseMessage">
        <wsdl:part name="response" element="pa:getLeistungserbringerEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitEmailRequestMessage">
        <wsdl:part name="request" element="pa:getOrganisationseinheitEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitEmailResponseMessage">
        <wsdl:part name="response" element="pa:getOrganisationseinheitEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="EmailServicePortType">
        <wsdl:operation name="getEmail">
            <wsdl:documentation>Liefert für einen technischen Emailschlüssel die Daten der zugehörigen E-Mail-Adresse.</wsdl:documentation>
            <wsdl:input name="GetEmailRequest" message="tns:GetEmailRequestMessage"/>
            <wsdl:output name="GetEmailResponse" message="tns:GetEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEmail">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="GetPartnerEmailRequest" message="tns:GetPartnerEmailRequestMessage"/>
            <wsdl:output name="GetPartnerEmailResponse" message="tns:GetPartnerEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getAdresseEmail">
            <wsdl:documentation>Liefert für einen technischen Adressschlüssel die Daten aller dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="GetAdresseEmailRequest" message="tns:GetAdresseEmailRequestMessage"/>
            <wsdl:output name="GetAdresseEmailResponse" message="tns:GetAdresseEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerEmail">
            <wsdl:documentation>Liefert für einen technischen Leistungserbringerschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="GetLeistungserbringerEmailRequest" message="tns:GetLeistungserbringerEmailRequestMessage"/>
            <wsdl:output name="GetLeistungserbringerEmailResponse" message="tns:GetLeistungserbringerEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitEmail">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Daten der dazugehörenden E-Mail-Adressen.</wsdl:documentation>
            <wsdl:input name="GetOrganisationseinheitEmailRequest" message="tns:GetOrganisationseinheitEmailRequestMessage"/>
            <wsdl:output name="GetOrganisationseinheitEmailResponse" message="tns:GetOrganisationseinheitEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailServiceBinding" type="tns:EmailServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAdresseEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetAdresseEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAdresseEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLeistungserbringerEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetLeistungserbringerEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetLeistungserbringerEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrganisationseinheitEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetOrganisationseinheitEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrganisationseinheitEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailService_v0">
        <wsdl:port name="EmailService" binding="tns:EmailServiceBinding">
            <soap:address location="https://example.com/EmailService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
