src/main/resources/ws/wsdl/partnermgmt/referenzdatenverw/data/bank/v0/schema/BankService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:referenzdatenverw:data:bank:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:referenzdatenverw:data:bank:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/externalTypes.xsd"/>
    <xsd:element name="getBankRequest" type="tns:GetBankRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Banken geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getBankResponse" type="tns:GetBankResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Banken enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetBankRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Banken geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bankId" type="pi:WsBankIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Bank.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetBankResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Banken enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="bank" type="tns:WsBankType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden Banken.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsBankType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die Daten einer Bank.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsBankIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer E-Mail-Adressen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bezeichnung" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Bezeichnung der Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kurzbezeichnung" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Kurzbezeichnung der Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="korrespondenzsprache" type="xt:LanguageTagType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Korrespondenzsprache der Bank als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="swift" type="xt:SwiftBicType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Swift-Adresse der Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="adresse" type="tns:WsAdresseType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Enthält die Adresse der Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="telefone" type="tns:WsTelefonType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Telefonnummern der Bank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTelefonType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die Daten einer Telefonnummer der Bank.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="telefonDefId" type="pi:WsTelefonDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der Telefonnummer-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="telefonNummer" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Telefonnummer inkl. internationaler Vorwahl.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="telefonArt" type="pt:WsTelefonArtType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die Art des Telefons (Telefon, Mobile oder Fax).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die Daten einer Adresse der Bank.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="hausNrZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatz der Hausnummer.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hausnummer" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Hausnummer der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="land" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Land der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ort" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ort der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="plz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Postleitzahl der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postfach" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Postfach der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="postfachOhneNr" type="pc:WsPostfachOhneNrCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="strasse" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Strasse der Adresse.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
