src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/partner/v0/PartnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PartnerService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0:schema" schemaLocation="schema/PartnerService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:getPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:getPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="GetFamilieRequestMessage">
        <wsdl:part name="Request" element="pa:getFamilieRequest"/>
    </wsdl:message>
    <wsdl:message name="GetFamilieResponseMessage">
        <wsdl:part name="Response" element="pa:getFamilieResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchPartnerRequestMessage">
        <wsdl:part name="request" element="pa:searchPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchPartnerResponseMessage">
        <wsdl:part name="response" element="pa:searchPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchNatPersonRequestMessage">
        <wsdl:part name="request" element="pa:searchNatPersonRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchNatPersonResponseMessage">
        <wsdl:part name="response" element="pa:searchNatPersonResponse"/>
    </wsdl:message>
    <wsdl:message name="SearchJurPersonRequestMessage">
        <wsdl:part name="request" element="pa:searchJurPersonRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchJurPersonResponseMessage">
        <wsdl:part name="response" element="pa:searchJurPersonResponse"/>
    </wsdl:message>
    <wsdl:message name="GetHauptpartnerRequestMessage">
        <wsdl:part name="request" element="pa:getHauptpartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetHauptpartnerResponseMessage">
        <wsdl:part name="response" element="pa:getHauptpartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="PartnerServicePortType">
        <wsdl:operation name="getPartner">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Stammdaten des zugehörigen Partners (juristische oder natürliche Person).

Hinweis:
Für folgende Nummern sind die Partneridentifikatoren vordefiniert, auch wenn keine konkreten Definitionen in adcubum Syrius existieren:
* Partnernummer: &apos;SYR_Partner_PartnerNr&apos;
* Sozialversicherungsnummer: &apos;SYR_Partner_SozialVersNr&apos;
* Unternehmens-Identifikationsnummer: &apos;SYR_Partner_UidNr&apos;
* Externe Partner-Id: &apos;SYR_Partner_ExtPartnerId&apos; (Format: &apos;&lt;ExtPartnerId&gt;&apos; (falls keine Quellen verwendet werden) oder &apos;&lt;ExtPartnerId&gt;|&lt;ExtQuelle&gt;&apos;)

Diese sind so im PartnerServiceResponse enthalten.</wsdl:documentation>
            <wsdl:input name="GetPartnerRequest" message="tns:GetPartnerRequestMessage"/>
            <wsdl:output name="GetPartnerResponse" message="tns:GetPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getFamilie">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Familie, diese Besteht aus einem Vorstand und Mitgliedern.
								Diese sind so im PartnerServiceResponse enthalten.</wsdl:documentation>
            <wsdl:input name="GetFamilieRequest" message="tns:GetFamilieRequestMessage"/>
            <wsdl:output name="GetFamilieResponse" message="tns:GetFamilieResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="searchPartner">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Partner und Adresse. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="SearchPartnerRequest" message="tns:SearchPartnerRequestMessage"/>
            <wsdl:output name="SearchPartnerResponse" message="tns:SearchPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="searchNatPerson">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Partner und Adresse. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="SearchNatPersonRequest" message="tns:SearchNatPersonRequestMessage"/>
            <wsdl:output name="SearchNatPersonResponse" message="tns:SearchNatPersonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="searchJurPerson">
            <wsdl:documentation>Liefert eine Liste von technischen Schlüssel gemäss den gesetzten Suchkriterien. Die Schlüssel beziehen sich dabei auf Partner und Adresse. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="SearchJurPersonRequest" message="tns:SearchJurPersonRequestMessage"/>
            <wsdl:output name="SearchJurPersonResponse" message="tns:SearchJurPersonResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getHauptpartner">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel den dazugehörenden Hauptpartner. Die Suche erfolgt per Stichdatum.</wsdl:documentation>
            <wsdl:input name="GetHauptpartnerRequest" message="tns:GetHauptpartnerRequestMessage"/>
            <wsdl:output name="GetHauptpartnerResponse" message="tns:GetHauptpartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PartnerServiceBinding" type="tns:PartnerServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFamilie">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetFamilieRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFamilieResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="SearchPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchNatPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="SearchNatPersonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchNatPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchJurPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="SearchJurPersonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SearchJurPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getHauptpartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetHauptpartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetHauptpartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PartnerService_v0">
        <wsdl:port name="PartnerService" binding="tns:PartnerServiceBinding">
            <soap:address location="https://example.com/PartnerService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
