src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/email/v0/schema/EmailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0:schema" 
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:email:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:element name="getEmailRequest" type="tns:GetEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getEmailResponse" type="tns:GetEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerEmailRequest" type="tns:GetPartnerEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerEmailResponse" type="tns:GetPartnerEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAdresseEmailRequest" type="tns:GetAdresseEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getAdresseEmailResponse" type="tns:GetAdresseEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungserbringerEmailRequest" type="tns:GetLeistungserbringerEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Leistungserbringern geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getLeistungserbringerEmailResponse" type="tns:GetLeistungserbringerEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Leistungserbringern enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getOrganisationseinheitEmailRequest" type="tns:GetOrganisationseinheitEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Organisationseinheiten geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getOrganisationseinheitEmailResponse" type="tns:GetOrganisationseinheitEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Organisationseinheiten enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="emailId" type="pi:WsEmailIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer E-Mail-Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="email" type="tns:WsEmailType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden E-Mail-Adressen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Partnern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die E-Mail-Adressen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerEmail" type="tns:WsPartnerEmailType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAdresseEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Adressen geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse, von welcher die E-Mail-Adressen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAdresseEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Adressen enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseEmail" type="tns:WsAdresseEmailType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen einer Adresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungserbringerEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Leistungserbringern geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers, von welchem die E-Mail-Adressen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLeistungserbringerEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Leistungserbringer enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerEmail" type="tns:WsLeistungserbringerEmailType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen eines Leistungserbringers.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetOrganisationseinheitEmailRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die E-Mail-Adressen von bestimmten Organisationseinheiten geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitId" type="pi:WsOrganisationseinheitIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit, von welchem die E-Mail-Adressen geladen werden sollen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetOrganisationseinheitEmailResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen E-Mail-Adressen der angegebenen Organisationseinheiten enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitEmail" type="tns:WsOrganisationseinheitEmailType" minOccurs="1" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen einer Organisationseinheit.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerEmailType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem die E-Mail-Adressen geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="tns:WsEmailType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden E-Mail-Adressen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsAdresseEmailType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen einer Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Adresse, von welcher die E-Mail-Adressen geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="tns:WsEmailType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden E-Mail-Adressen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungserbringerEmailType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen eines Leistungserbringers.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="leistungserbringerId" type="pi:WsLeistungserbringerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Leistungserbringers, von welchem die E-Mail-Adressen geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="tns:WsEmailType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden E-Mail-Adressen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationseinheitEmailType">
        <xsd:annotation>
           <xsd:documentation xml:lang="de">Enthält die geladenen E-Mail-Adressen eines Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="organisationseinheitId" type="pi:WsOrganisationseinheitIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer Organisationseinheit, von welchem die E-Mail-Adressen geladen wurden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="email" type="tns:WsEmailType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefunden E-Mail-Adressen.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsEmailType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die Daten einer E-Mail-Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsEmailIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer E-Mail-Adressen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailDefId" type="pi:WsEmailDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel der E-Mail-Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Mutationsgrund der Änderung, z.B Neuerfassung, Adressänderung, Mutation, usw.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isDefStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Standard-E-Mail der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="isStandard" type="st:BooleanType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Standard-E-Mail, unabhängig von der Definition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailAdresse" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Die E-Mail-Adresse im Format xxx@xxx.xx.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
