src/main/resources/ws/wsdl/partnermgmt/common/codes/v0/codes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cc="urn:com:adcubum:syrius:api:common:codes:v_1_0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0">
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:codes:v_1_0" schemaLocation="../../../../common/codes/v_1_0/codes.xsd"/>
    <xsd:complexType name="WsAktivCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Code zum Status Aktiv.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsArbeitslosCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürliche Person arbeitslos oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsAufenthaltsbewCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Aufenthaltsbewilligung der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBerufsgruppeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Berufsgruppe der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsBrancheCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Branche in der die juristischen Person tätig ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEinzugsermaechtigungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Einzugsermächtigung.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsEntschaedigungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Entschaedigung des Leistungserbringers, z.B tiers garant, tiers payant, amb TG - stat TP oder Überprüfungsausschluss.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFaktStatusCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Status, wie sicher dieser Fakt zur versicherten Person ist.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGeschlechtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Geschlecht der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsInAusbildungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürliche Person in Ausbildung oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKontaktAnredeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Anrede/Geschlecht des Kontaktes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKontaktschutzCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert die Kontaktschutzgruppe.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKonzernpartnerCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die juristische Person ein Konzernpartner oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLeistungspflichtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Leistungspflicht des Leistungserbringers. z.B Leistungen aus Grund- und Zusatzversicherungen, Beitrag aus Grundversicherung, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLerbAnredeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Anrede des Leistungserbringers, z.b Dr., Prof., Dr. med., usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsLstAbrMoeglichCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Leistungsabrechnung auf dem Leistungserbringer möglich.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsOrganisationTypCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Typ der Organisationeinheit, z.B Hauptsitz, Agentur, Geschäftsstelle, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRechtsformCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Rechtsform der juristischen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsSozialhilfeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürlichen Person Sozialhilfeempfänger oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsStilleKoGuCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Hat der Leistungserbringer eine stille Vereinbarung über eine Kostengutsprache.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsStrasseNrReihenfolgeCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Definiert, ob die Strasse vor der Nummer angezeigt werden soll oder umgekehrt.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPostfachOhneNrCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt, ob es sich um eine Postfach-Adresse ohne Postfachnummer handelt.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsTitelCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Titel der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsUnterstPflichtCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ist die natürlichen Person unterstützungspflichtig oder nicht.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVerbandCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Verbandscode des Leistungserbringers, z.B SCG, FAMH, Spitex-Verband, usw.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsVipCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">VIP Code des Partners.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsZivilstandCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Zivilstand der natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsKantonCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kanton der Adresse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsGemeindeKantonCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Kanton der Gemeinde.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsMehrfachverwendungCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt, ob es von dieser Definition mehrere Objekte geben darf.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsRegionCodeType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Bestimmt den Code einer bestimmen Region.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="cc:WsCodeType"/>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
