src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/dokumentversand/v0/DokumentversandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DokumentversandService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:dokumentversand:v0:schema" schemaLocation="schema/DokumentversandService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerStdDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerStdDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerStdDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerStdDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerAusgDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerAusgDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerAusgDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerAusgDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEingDokumentversandRequestMessage">
        <wsdl:part name="request" element="pa:getPartnerEingDokumentversandRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPartnerEingDokumentversandResponseMessage">
        <wsdl:part name="response" element="pa:getPartnerEingDokumentversandResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="DokumentversandServicePortType">
        <wsdl:operation name="getDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Dokumentversandschlüssel die Daten des zugehörigen Dokumentversands.</wsdl:documentation>
            <wsdl:input name="GetDokumentversandRequest" message="tns:GetDokumentversandRequestMessage"/>
            <wsdl:output name="GetDokumentversandResponse" message="tns:GetDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller Dokumentversand.</wsdl:documentation>
            <wsdl:input name="GetPartnerDokumentversandRequest" message="tns:GetPartnerDokumentversandRequestMessage"/>
            <wsdl:output name="GetPartnerDokumentversandResponse" message="tns:GetPartnerDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerStdDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller Standard-Dokumentversand.</wsdl:documentation>
            <wsdl:input name="GetPartnerStdDokumentversandRequest" message="tns:GetPartnerStdDokumentversandRequestMessage"/>
            <wsdl:output name="GetPartnerStdDokumentversandResponse" message="tns:GetPartnerStdDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerAusgDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller ausgehenden Dokumentversand.</wsdl:documentation>
            <wsdl:input name="GetPartnerAusgDokumentversandRequest" message="tns:GetPartnerAusgDokumentversandRequestMessage"/>
            <wsdl:output name="GetPartnerAusgDokumentversandResponse" message="tns:GetPartnerAusgDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEingDokumentversand">
            <wsdl:documentation>Liefert für einen technischen Partnerschlüssel die Daten aller eingehenden Dokumentversand.</wsdl:documentation>
            <wsdl:input name="GetPartnerEingDokumentversandRequest" message="tns:GetPartnerEingDokumentversandRequestMessage"/>
            <wsdl:output name="GetPartnerEingDokumentversandResponse" message="tns:GetPartnerEingDokumentversandResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DokumentversandServiceBinding" type="tns:DokumentversandServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerStdDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerStdDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerStdDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerAusgDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerAusgDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerAusgDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPartnerEingDokumentversand">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetPartnerEingDokumentversandRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPartnerEingDokumentversandResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DokumentversandService_v0">
        <wsdl:port name="DokumentversandService" binding="tns:DokumentversandServiceBinding">
            <soap:address location="https://example.com/DokumentversandService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
