src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/organisationseinheit/v0/OrganisationseinheitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="OrganisationseinheitService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:organisationseinheit:v0:schema" schemaLocation="schema/OrganisationseinheitService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetOrganisationseinheitRequestMessage">
        <wsdl:part name="Request" element="pa:getOrganisationseinheitRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrganisationseinheitResponseMessage">
        <wsdl:part name="Response" element="pa:getOrganisationseinheitResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesOrganisationseinheitRequestMessage">
        <wsdl:part name="Request" element="pa:readL10nAttributesOrganisationseinheitRequest"/>
    </wsdl:message>
    <wsdl:message name="ReadL10nAttributesOrganisationseinheitResponseMessage">
        <wsdl:part name="Response" element="pa:readL10nAttributesOrganisationseinheitResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrganisationseinheitServicePortType">
        <wsdl:operation name="getOrganisationseinheit">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Stammdaten der zugehörigen Organisationseinheit.
		</wsdl:documentation>
            <wsdl:input name="GetOrganisationseinheitRequest" message="tns:GetOrganisationseinheitRequestMessage"/>
            <wsdl:output name="GetOrganisationseinheitResponse" message="tns:GetOrganisationseinheitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesOrganisationseinheit">
            <wsdl:documentation>Liefert für einen technischen Organisationseinheitschlüssel die Bezeichnung des zugehörenden TextModules zurück.</wsdl:documentation>
            <wsdl:input name="ReadL10nAttributesOrganisationseinheitRequest" message="tns:ReadL10nAttributesOrganisationseinheitRequestMessage"/>
            <wsdl:output name="ReadL10nAttributesOrganisationseinheitResponse" message="tns:ReadL10nAttributesOrganisationseinheitResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrganisationseinheitServiceBinding" type="tns:OrganisationseinheitServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getOrganisationseinheit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="GetOrganisationseinheitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrganisationseinheitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="readL10nAttributesOrganisationseinheit">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ReadL10nAttributesOrganisationseinheitRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ReadL10nAttributesOrganisationseinheitResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganisationseinheitService_v0">
        <wsdl:port name="OrganisationseinheitService" binding="tns:OrganisationseinheitServiceBinding">
            <soap:address location="https://example.com/OrganisationseinheitService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
