src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/process/email/v0/EmailProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="EmailProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:email:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:email:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:email:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:email:v0:schema" schemaLocation="schema/EmailProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateEmailForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:createEmailForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateEmailForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:createEmailForPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeEmailRequestMessage">
        <wsdl:part name="Request" element="pa:changeEmailRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeEmailResponseMessage">
        <wsdl:part name="Response" element="pa:changeEmailResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="EmailProcessServicePortType">
        <wsdl:operation name="createEmailForPartner">
            <wsdl:documentation>Erstellt eine neue E-Mail zu einem Partner.</wsdl:documentation>
            <wsdl:input name="CreateEmailForPartnerRequest" message="tns:CreateEmailForPartnerRequestMessage"/>
            <wsdl:output name="CreateEmailForPartnerResponse" message="tns:CreateEmailForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeEmail">
            <wsdl:documentation>Ändert eine E-Mail.</wsdl:documentation>
            <wsdl:input name="ChangeEmailRequest" message="tns:ChangeEmailRequestMessage"/>
            <wsdl:output name="ChangeEmailResponse" message="tns:ChangeEmailResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailProcessServiceBinding" type="tns:EmailProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createEmailForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateEmailForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateEmailForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeEmail">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ChangeEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ChangeEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailProcessService_v0">
        <wsdl:port name="EmailProcessService" binding="tns:EmailProcessServiceBinding">
            <soap:address location="https://example.com/EmailProcessService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
