src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/process/web/v0/WebProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="WebProcessService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:web:v0"
                  xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:web:v0"
                  xmlns:pa="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:web:v0:schema"
                  xmlns:flt="urn:com:adcubum:syrius:api:common:faults:v_1_0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:process:web:v0:schema" schemaLocation="schema/WebProcessService.xsd"/>
            <xsd:import namespace="urn:com:adcubum:syrius:api:common:faults:v_1_0" schemaLocation="../../../../../common/faults/v_1_0/faults.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateWebForPartnerRequestMessage">
        <wsdl:part name="Request" element="pa:createWebForPartnerRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateWebForPartnerResponseMessage">
        <wsdl:part name="Response" element="pa:createWebForPartnerResponse"/>
    </wsdl:message>
    <wsdl:message name="ChangeWebRequestMessage">
        <wsdl:part name="Request" element="pa:changeWebRequest"/>
    </wsdl:message>
    <wsdl:message name="ChangeWebResponseMessage">
        <wsdl:part name="Response" element="pa:changeWebResponse"/>
    </wsdl:message>
    <wsdl:message name="ApiFault">
        <wsdl:part name="fault" element="flt:apiFaultInfo"/>
    </wsdl:message>
    <wsdl:portType name="WebProcessServicePortType">
        <wsdl:operation name="createWebForPartner">
            <wsdl:documentation>Erstellt eine neue Web-Adresse zu einem Partner.</wsdl:documentation>
            <wsdl:input name="CreateWebForPartnerRequest" message="tns:CreateWebForPartnerRequestMessage"/>
            <wsdl:output name="CreateWebForPartnerResponse" message="tns:CreateWebForPartnerResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
        <wsdl:operation name="changeWeb">
            <wsdl:documentation>Ändert eine Web-Adresse.</wsdl:documentation>
            <wsdl:input name="ChangeWebRequest" message="tns:ChangeWebRequestMessage"/>
            <wsdl:output name="ChangeWebResponse" message="tns:ChangeWebResponseMessage"/>
            <wsdl:fault name="ApiFault" message="tns:ApiFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebProcessServiceBinding" type="tns:WebProcessServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createWebForPartner">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="CreateWebForPartnerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateWebForPartnerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeWeb">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="ChangeWebRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ChangeWebResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiFault">
                <soap:fault name="ApiFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebProcessService_v0">
        <wsdl:port name="WebProcessService" binding="tns:WebProcessServiceBinding">
            <soap:address location="https://example.com/WebProcessService_v0"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
