src/main/resources/ws/wsdl/partnermgmt/partnerdatenverw/data/partner/v0/schema/PartnerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xhtml="http://www.w3.org/1999/xhtml"
            xmlns:pi="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0"
            xmlns:pt="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0"
            xmlns:ct="urn:com:adcubum:syrius:api:common:types:v_1_0"
            xmlns:st="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0"
            xmlns:search="urn:com:adcubum:syrius:api:common:searchTypes:v1"
            xmlns:xt="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0"
            xmlns:pc="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0"
            xmlns:tns="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0:schema"
            elementFormDefault="qualified"
            targetNamespace="urn:com:adcubum:syrius:api:partnermgmt:partnerdatenverw:data:partner:v0:schema">
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:codes:v0" schemaLocation="../../../../../common/codes/v0/codes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:identifier:v0" schemaLocation="../../../../../common/identifier/v0/identifier.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:partnermgmt:common:types:v0" schemaLocation="../../../../../common/types/v0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:types:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/types.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:simpleTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/simpleTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:searchTypes:v1" schemaLocation="../../../../../../common/types/v1/searchTypes.xsd"/>
    <xsd:import namespace="urn:com:adcubum:syrius:api:common:externalTypes:v_1_0" schemaLocation="../../../../../../common/types/v_1_0/externalTypes.xsd"/>
    <xsd:element name="getPartnerRequest" type="tns:GetPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Partner geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getPartnerResponse" type="tns:GetPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getFamilieRequest" type="tns:GetFamilieRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Familien geladen werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getFamilieResponse" type="tns:GetFamilieResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Familien enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchPartnerRequest" type="tns:SearchPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Partner gesucht werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchPartnerResponse" type="tns:SearchPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Partner enthalten sind (IDs).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchNatPersonRequest" type="tns:SearchNatPersonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Partner gesucht werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchNatPersonResponse" type="tns:SearchPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Partner enthalten sind (IDs).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchJurPersonRequest" type="tns:SearchJurPersonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem Partner gesucht werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="searchJurPersonResponse" type="tns:SearchPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Partner enthalten sind (IDs).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getHauptpartnerRequest" type="tns:GetHauptpartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Hauptpartner gesucht werden.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="getHauptpartnerResponse" type="tns:GetHauptpartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die die Hauptpartner enthalten sind.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Partner geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer natürlichen oder juristischen Person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partner" type="tns:WsPartnerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der geladene Partner (natürliche oder juristische Person).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetFamilieRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Familien geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel einer natürlichen oder juristischen Person.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetFamilieResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die geladenen Familien enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="familie" type="tns:WsFamilieType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste mit den geladenen Familien.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchPartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Partner gesucht werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="suchbedingungen" type="search:WsSearchConditionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technische Suchbedingungen für den Suchrequest.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partneridentifikatoren" type="tns:WsPartneridentifikatorSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Eindeutige Nummer des Vertriebspartners als Suchbedingung. Suche nach mehreren Identifikatoren ist möglich.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerrollen" type="pi:WsPartnerrolleDefIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">
                        Definition einer Partnerrolle.
                        <xhtml:br/>Die hier gesetzten Rollen(definitionen) werden als Suchbedingung gesetzt, d.h. diese Partnerrolle(n) müssen auf dem Partner vorhanden sein.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="partnerIds" type="pi:WsPartnerIdType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Liste von möglichen Partnern für die Suche.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Name des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="vip" type="pc:WsVipCodeType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">VIP Code des Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="strasse" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Strasse der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hausnummer" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Hausnummer der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postleitzahl" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Postleitzahl der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ort" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Ort der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SearchNatPersonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem natürliche Personen gesucht werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:SearchPartnerRequestType">
                <xsd:sequence>
                    <xsd:element name="vorname" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geburtsdatum" type="search:WsDateSearchType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geburtsdatum der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="familienvorstand" type="st:BooleanType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Suche nach Familienvorstand oder Partner.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geschlecht" type="pc:WsGeschlechtCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geschlecht der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SearchJurPersonRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem juristische Personen gesucht werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:SearchPartnerRequestType">
                <xsd:sequence>
                    <xsd:element name="rechtsform" type="pc:WsRechtsformCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Rechtsform der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz1" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz2" type="search:WsStringSearchType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SearchPartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die gefundenen Partner enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partner" type="tns:WsPartnerSearchType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Enthält eine Liste mit den gefundenen Partnern.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetHauptpartnerRequestType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Request, mit dem die Hauptpartner geladen werden.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners, von welchem der Hauptpartner geladen wird.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stichtag" type="xsd:date" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Fachlicher Zeitpunkt. Der Parameter ist optional, wird er nicht gesetzt wird der aktuelle Zeitpunkt verwendet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetHauptpartnerResponseType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Response, in dem die zu den Partnern geladenen Hauptpartnern enthalten sind.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="hauptpartner" type="tns:WsHauptpartnerType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Hauptpartner welcher zu der ID gefunden wurde.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsHauptpartnerType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">PartnerId mit dem dazugehörenden Hauptpartner.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partnerId" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel eines Partners.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hauptpartner" type="tns:WsPartnerType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Zur partnerId gehörende Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerType" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die allgemeinen Daten zu einer Person (natürlich oder juristisch).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsHistObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel einer natürlichen oder juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="intBetreuerId" type="pi:WsBenutzerIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel des betreuenden Sachbearbeiters.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mitarbeiterBenutzerId" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Falls der Partner ein Mitarbeiter des Versicherers ist, ist dies eine fachliche Referenz auf den Benutzernamen des Mitarbeiters.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mutationsgrundId" type="pi:WsMutationsgrundIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel auf den Mutationsgrund.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="name" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Name des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partnerschutzDefId" type="pi:WsPartnerschutzDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel auf die gesetzte Partnerschutzdefinition.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="korrespondenzsprache" type="xt:LanguageTagType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Korrespondenzsprache des Partners als IETF BCP 47 language tag (z.B. de-CH).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vip" type="pc:WsVipCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">VIP Code des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partneridentifikatoren" type="tns:WsPartneridentifikatorType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Liste mit allen Partneridentifikatoren des Partners.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsNatPersonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die spezifischen Daten zu einer natürlichen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsPartnerType">
                <xsd:sequence>
                    <xsd:element name="arbeitslos" type="pc:WsArbeitslosCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürliche Person arbeitslos oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aufenthaltsbew" type="pc:WsAufenthaltsbewCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Aufenthaltsbewilligung der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aufenthaltsbewBis" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Bis zu welchem Datum gilt die Aufenthaltsbewilligung.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="auslaenderstatus" type="pi:WsAuslaenderstatusIdType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technischer Schlüssel zum Ausländerstatus der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="bemerkung" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Freie Bemerkung zur natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="berufsgruppe" type="pc:WsBerufsgruppeCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Berufsgruppe der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geburtsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geburtsdatum der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="geschlecht" type="pc:WsGeschlechtCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Geschlecht der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="heimatort" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Heimatort der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inAusbildung" type="pc:WsInAusbildungCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürliche Person in Ausbildung oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ledigname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ledigname bzw. Geburtsname der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="namePraefix" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Freier Namenspräfix der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nameZusatz" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatz zum Namen (nachgestellt) der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nationalitaet" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Nationalität der natürlichen Person (2-stelliger Ländercode: ISO-3166).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sozialhilfe" type="pc:WsSozialhilfeCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürlichen Person Sozialhilfeempfänger oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titel" type="pc:WsTitelCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Titel der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="todesdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Todesdatum der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="unterstPflicht" type="pc:WsUnterstPflichtCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die natürlichen Person unterstützungspflichtig oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vorname" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Vorname der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="weitereVornamen" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Weitere Vornamen der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zivilstand" type="pc:WsZivilstandCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zivilstand der natürlichen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsJurPersonType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Enthält die spezifischen Daten zu einer juristischen Person.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:WsPartnerType">
                <xsd:sequence>
                    <xsd:element name="aufloesungsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Aufloesungsdatum der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="branche" type="pc:WsBrancheCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Branche in der die juristischen Person tätig ist.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="gruendungsdatum" type="st:DateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Gruendungsdatum der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="konzernpartner" type="pc:WsKonzernpartnerCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Ist die juristische Person ein Konzernpartner oder nicht.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rechtsform" type="pc:WsRechtsformCodeType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Rechtsform der juristischen Person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz1" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="zusatz2" type="st:StringType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Zusatzbezeichnung zum Namen.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsFamilieType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Daten einer Familie. Mind. ein Vorstand und 0 - n Mitglieder.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vorstand" type="tns:WsNatPersonType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der Vorstand der Familie.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mitglieder" type="tns:WsNatPersonType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Die Mitglieder (Partner und Kinder) der Familie.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartneridentifikatorType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Partneridentifikator eines Partners (Partnernummer, Sozialversicherungsnummer, Kundennummer, usw.).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ct:WsLifecycleObjectType">
                <xsd:sequence>
                    <xsd:element name="id" type="pi:WsPartneridentifikatorIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Technische Id des Partneridentifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="partneridentifikatorDefId" type="pi:WsPartneridentifikatorDefIdType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Definition des Partneridentifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="wert" type="st:StringType" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation xml:lang="de">Der konkrete Wert, z.B. eine Nummer, des Identifikators.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WsPartnerSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Ein gefundener Partner (IDs).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="id" type="pi:WsPartnerIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel des Partners (nat. oder jur. Person).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresseId" type="pi:WsAdresseIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Technischer Schlüssel der Domiziladresse.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WsPartneridentifikatorSearchType">
        <xsd:annotation>
            <xsd:documentation xml:lang="de">Partneridentifikator eines Partners als Suchbedingung (Partnernummer, Sozialversicherungsnummer, Kundennummer, usw.).</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partneridentifikatorDefId" type="pi:WsPartneridentifikatorDefIdType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Definition des Partneridentifikators.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="wert" type="search:WsStringSearchType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="de">Der konkrete Wert, z.B. eine Nummer, des Identifikators.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
